

html, body{
    margin:0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}
#navlist
{
    margin: 0;
    padding: 0 0 20px 20px;
    font-size: 16px;
    float: right;
    padding-top: 10px;
    margin-right: 10%;


}

#navlist ul, #navlist li
{
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;

}

#navlist a:link, #navlist a:visited
{
    float: left;
    line-height: 14px;
    margin: 0 20px 4px 20px;
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;

}

#navlist a:link#current, #navlist a:visited#current, #navlist a:hover
{
    border-bottom: 2px solid #ffcc66;
    padding-bottom: 5px;
    background: transparent;
    color: #ffcc66;
    padding-bottom: 20px;
}

#navlist a:hover { color: #ffcc66; }

.loginbut{
    float: right;
    font-size: 16px;
    border: 0;

    background-color: #ffcc66;
    color: #fff;
    border-radius: 6px;
    padding: 2px 15px 2px 15px;
}
.title-big{
    font-weight: 600;
    color: #ffcc66;
    letter-spacing:7px;
}
.midwenzi{
    color: white;
    font-size: 16px;
    letter-spacing:1px;
    font-family: 微软雅黑;
    line-height: 28px;
    margin-top: 30px;
}
.title-little{
    font-weight: 600;
    font-size: 16px;
    font-family: 微软雅黑;
    line-height: 28px;

}
